<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale =1.0">
    <link rel="stylesheet" href="../../styles.css"> <!-- WHEN REFERENCING STATIC ASSETS PAY ATTENTION TO YOUR APP.USE
                                                        -IT SHOULD REFERENCE THE FOLDER WHERE YOUR ASSETS ARE- AND AS
                                                        YOU HAVE REFERENCED THE FOLDER THEY'RE IN YOU ONLY REFERENCE
                                                        THE FILE IN YOUR HTML -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <title>CRUD Application</title>
  </head>
  <body>
    <!-- Header -->
    <header id = "header">
      <nav>
        <div class="container">
          <div class="text-center">
          </div>
            <a href ="/" class="nav-brand text-dark">User Managment System</a>
        </div>
      </nav>
    </header>
